<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Set A Target</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/vendor.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/pred_style.css">

    <!-- script
    ================================================== -->
    <script src="static/js/modernizr.js"></script>
    <script src="static/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="static/image/x-icon">
    <link rel="icon" href="favicon.ico" type="static/image/x-icon">

</head>
 
<section id='contact' class="s-services light-gray">
        <form action="{{ url_for('predict_entry') }}" method=post class=add-entry>
            <form action="/bs" method="POST">
                <div class="row section-header" data-aos="fade-up">
                    <div class="col-full">
                        <h3 class="subhead">Congrats</h3>
                        <h1 class="display-1">Congrats! You will be admitted!</h1>
                    </div>
                </div> <!-- end section-header -->

                <div class="row" data-aos="fade-up">
                    <div class="col-full">
                        <p class="lead">
                            <img src="static/images/portfolio/congrats.jpg">
                        </p>
                    </div>
                </div> <!-- end about-desc -->
<!-- 
                <div class="row masonry-wrap">

                        <div class="masonry__brick" data-aos="fade-up">
                            <div class="item-folio">
                                <div class="item-folio__thumb">
                                    <a href="static/images/portfolio/gallery/g-congrats.jpg" class="thumb-link" title="TOEFL" data-size="1050x700">
                                        <img src="static/images/portfolio/congrats.jpg"
                                            srcset="static/images/portfolio/congrats.jpg 1x, static/images/portfolio/congrats@2x.jpg 2x" alt="">
                                    </a>
                                </div> -->
                            <!-- </div> end item-folio -->
                        <!-- </div> end masonry__brick -->
            
        </form>
    </section> <!-- end s-services -->   


<!-- photoswipe background
================================================== -->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                "Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
            "Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>

    </div>

</div> <!-- end photoSwipe background -->
    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">            
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>